{% extends 'base.html' %}

{% block title %}
Register New User
{% endblock %}

{% block content %}
<h1>Welcome, {{user.username}}.</h1>
Email: {{user.email}}<br>
First Name: {{user.first_name}}<br>
Last Name: {{user.last_name}}

<h2>Feedback</h2>

<ul>
    {% for feedback in feedbacks %}
    <li>
        <b>{{feedback.title}}</b>
        <p>{{feedback.content}}</p>
        <form action="/feedback/{{feedback.id}}/update">
            <button>Edit</button>
        </form>
        <form action="/feedback/{{feedback.id}}/delete", method="POST">
            <button>Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>

<form action="/users/{{user.username}}/feedback/add">
    <button>Add Feedback!</button>
</form>

{% endblock %}